@tailwind base;
@tailwind components;
@tailwind utilities;

.lbox {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
